*{
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0; 
    padding: 0;

 }

h2 {
    text-align: center;
    color: white;
    height: 100px;
    font-size: 45px;
    align-items: center;
    padding: 20px 0 0;
}

body {

}

.poc {
    background: #0C95ED;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    background: #0C95ED;
    padding: 0 0 10px 0;
}

.cabeca {
    background: #86c6f0;
    width: 550px;
    height: 110px;
    border-radius: 35px;
    margin-left: 30%;
    
}

#raio1 { 
    border-color: #86c6f0;
    color:black;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
}

#raio1:hover{
    transition: 0.3s;
    background:#86c6f0;
    opacity: 75%;
}

#raio3 { 
    border-color: #86c6f0;
    color:black;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
}

#raio3:hover{
    transition: 0.3s;
    background:#86c6f0;
    opacity: 75%;
}

#raio2:hover{
    transition: 0.3s;
    background:#86c6f0;
    opacity: 75%;
}

#btnCalc{
    background: #076cac;
    width: 250px;
    height: 40px;
    border-radius: 60px;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 47px;
    font-size: medium;
    font-weight: bolder;
}

.row {
    margin-top: 30px;
}
.text-center{
    text-align: center;
}
#resultado {

    margin-top: 15px;
    color: #fff;

}
#raio2 {
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    border-color: #86c6f0;
    color:black;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}

#btnCalc:hover{
    transition: 0.3s;
    opacity: 85%;
    background: #badff8;
}

.form-label{
    padding-top: 10px;
    color: #fff;
    font-weight: bolder;
}

.col-sm-6 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 25px;
    align-items: center;
    justify-content: center ;
    width: 300px;
    text-align: center; 
    border-radius: 25px;
    margin-left: 5px;
    padding: 15px;
}

#mandada {
    background: #0C95ED;    
    width: 350px;
    height: 420px;
    margin-left: 38%;
    border-radius: 15px;
    align-items: center;
    padding: 0px 0px 10px;

}

footer {
    margin-top: 90px;
    background: #0C95ED;
    height: 160px
}



.peba h2 {
    margin-top: 20px
}

.pginicial {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1.5rem;
    cursor: pointer;
}

.pginicial:hover{
    transition: 0.5s;   
    color: #02578b

}

 @import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
 
